body{width: 100vw;
     height: 98vh;
     margin: 0;}

section{margin-top: 0;
        padding-top: 0;}

.violet{
    background-color: #9b009d;
    width: 100vw;
    height: 5vh;
    margin-top: 0;
    padding-top: 0;
    display: flex;
}

#form{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#form p{color: white;}

nav{display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(227, 222, 222)
   }

#icone{
    height: 4.5vh;
    width: 2.5vw;
    filter: brightness(200%);
    clip: auto;
}

#logo{
    width:90px;
    height:50px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 70px;
}

#logobox{
    border-right: solid 1px rgb(227, 222, 222);
}
#navbar{display: flex;
        align-items: center;
        border-bottom: solid 1px rgb(227, 222, 222);
        }

#listemenu{
        display: flex;
        padding: 0;
        gap: 30px;
} 


#cowork{
    display: flex;
    align-items: center;
    border-left: solid 1px rgb(227, 222, 222);
    padding: 10px;
}