body{width: 100vw;
     height: 98vh;
     margin: 0;}

header{font-family: Montserrat;
       font-weight: bold;
       font-size: 13px;}

section{margin-top: 0;
        padding-top: 0;}

.violet{
    background-color: #9b009d;
    width: 100vw;
    height: 5vh;
    margin-top: 0;
    padding-top: 0;
    display: flex;
}

#form{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#form p{color: rgba(255, 255, 255, 0.47);
        margin-right: 5px;}

button{background-color: rgb(25, 212, 47);
       color:rgba(255, 255, 255, 0.47);
       border-radius: 5px;
       height: 80%;
       width: 90px;
       margin-left: 5px; }

nav{display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(227, 222, 222)
   }

#icone{
    height: 4.5vh;
    width: 2.5vw;
    filter: brightness(200%);
    clip: auto;
}

#logo{
    width:90px;
    height:50px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 70px;
}

#logobox{
    border-right: solid 1px rgb(227, 222, 222);
}
#navbar{display: flex;
        align-items: center;
        border-bottom: solid 1px rgb(227, 222, 222);
        }

#listemenu{
        display: flex;
        padding: 0;
        gap: 30px;
} 


#cowork{
    display: flex;
    align-items: center;
    border-left: solid 1px rgb(227, 222, 222);
    padding: 30px;
}

#titre {
    font-family: "Poiret One", sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

hr{
    width: 50px;
}